body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: #212121;
    color: #fff;
}

.title-text-box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; /* Increase padding for better spacing */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    text-align: center;
    margin: 2cm auto 1cm auto; /* Use 'auto' for vertical margin */
    background-color: rgb(53, 93, 202);
}

.title-text-box2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; /* Increase padding for better spacing */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    text-align: center;
    margin: 2cm auto 1cm auto; /* Use 'auto' for vertical margin */
    background-color: rgb(236, 121, 44);
}

.title-text-box3 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; /* Increase padding for better spacing */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    text-align: center;
    margin: 2cm auto 1cm auto; /* Use 'auto' for vertical margin */
    background-color: rgb(145, 34, 173);
}

.title-text-box4 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; /* Increase padding for better spacing */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    text-align: center;
    margin: 2cm auto 1cm auto; /* Use 'auto' for vertical margin */
    background-color: rgb(228, 40, 40);
}


.concept-text-box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(53, 93, 202);
    margin: 0.5cm auto 1cm auto; /* Use 'auto' for vertical margin */
    text-align: center;
}

.concept-text-box2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(236, 121, 44);
    margin: 0.5cm auto 1cm auto; /* Use 'auto' for vertical margin */
    text-align: center;
}
.concept-text-box3 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(145, 34, 173);
    margin: 0.5cm auto 1cm auto; /* Use 'auto' for vertical margin */
    text-align: center;
}

.concept-text-box4 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(228, 40, 40);
    margin: 0.5cm auto 1cm auto; /* Use 'auto' for vertical margin */
    text-align: center;
}

.explanation-text-box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(53, 93, 202);
    margin: .5cm auto 2cm auto; /* Use 'auto' for vertical margin */
    text-align: left;
}

.explanation-text-box2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(236, 121, 44);
    margin: .5cm auto 2cm auto; /* Use 'auto' for vertical margin */
    text-align: left;
}


.explanation-text-box3 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(145, 34, 173);

    margin: .5cm auto 2cm auto; /* Use 'auto' for vertical margin */
    text-align: left;
}


.explanation-text-box4 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    max-width: 30%; /* Adjust max-width for better responsiveness */
    background-color: rgb(228, 40, 40);

    margin: .5cm auto 2cm auto; /* Use 'auto' for vertical margin */
    text-align: left;
}



button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for a more rounded button */
}

button:hover {
    background-color: #023e8a;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between flex items */
    margin: 20px auto; /* Use 'auto' for vertical margin */
}

.flex-child {
    flex: 1;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    padding: 15px; /* Increase padding for better spacing */
    text-align: center;

    font-family: monospace;
    color: #fff;


}

img {
    width: 100%; /* Make images responsive within their containers */
    height: auto;
    border-radius: 10px; /* Add border-radius for rounded corners */
}
