.title-text-box {

    border: 2px solid black;
    
    border-radius: 10px; /* set the radius value to define the curve */
    
    padding: 10px;
    max-width: 50%;
    text-align: center;
    margin: auto;
    background-color: rgb(53, 93, 202);
    margin-top: 2cm;
    margin-bottom: .5cm;

    font-family: 'Optima', monospace;
    
    }

body {
        background-color: #212121;

    }

    .concept-text-box {

        border: 2px solid black;
        
        border-radius: 10px; /* set the radius value to define the curve */
        
        padding: 10px;
        max-width: 20%;
        background-color: rgb(53, 93, 202);
        margin-top: .5 cm;
        font-family: 'Optima', monospace;
        text-align: center;

        margin: auto;


        }

        .explanation-text-box {

            border: 2px solid black;
            
            border-radius: 10px; /* set the radius value to define the curve */
            
            padding: 10px;
            max-width: 10%;
            background-color: rgb(53, 93, 202);
            margin-top: .5cm;
            font-family: 'Optima', monospace;
            margin-bottom: 2cm;


            }
button {
                margin: 10px; /* Add some margin to space out the buttons */
                padding: 10px 20px;
                background-color: #0077b6;
                color: #fff;
                border: none;
                cursor: pointer;
         }
              
button:hover {
                background-color: #023e8a;
              }

              .flex-container {
                display: flex;
            }
            
            .flex-child {
                flex: 1;
                border: 1px solid rgb(247, 247, 244);
                border-radius: 10px; /* set the radius value to define the curve */

            }  
            
            .flex-child:first-child {
                margin-right: 20px;
                border-radius: 10px; /* set the radius value to define the curve */

            } 

            img {
                width: 400px;
                height: auto;
              }
  
    